
  <%- include('../head.ejs') %>
  <body>
    <div class="box" id="heading">
      <h1><%= title %>.</h1>
    </div>
    <form action="/" method= "post">
    <div class="box">
      <% todoItemsEJS.forEach(element => { %>
      <div class="item">
        <input class = "removeCheckBox" type="checkbox" name="delCheckBox" value="<%=element._id%>" />
       
        <p><%= element.name %></p>
        
      </div>
      
      <% }) %>
      
    
      <div class="item" action="/ " method="POST">
        <button class="remove" type="submit" name="todoButtonRemove" value="<%= buttonTypeEJS%>">-
          
        </button>
        <input
          type="text"
          name="todoItem"
          id=""
          placeholder="new item..."
          autocomplete="off"
        />
        <button type="submit" name="todoButton" value="<%= buttonTypeEJS%>">
          +
        </button>
        
      </div>
    </div>

    </form>
    <%- include('../footer.ejs') %>
  </body>
  <script src="jss/index.js"></script>
</html>
