
  <%- include('../head.ejs') %>
  <body>
    <div class="box" id="heading">
      <h1><%= title %></h1>
    </div>
    <form action="/" method="POST"><div class="box">
      <% todoItemsEJS.forEach(element => { %>
      <div class="item">
        <input name= "checkbox" value="<%=element.id%>"  type="checkbox" id = <%=element.id%> />
        <p><%= element.name %></p>
      </div>
     
    

      <% }) %>
      <button type="submit" name="todoButton" value="<%= buttonTypeEJS%>Remove">
        -
      </button></form>
      <form class="item" action="/ " method="POST">
        <input
          type="text"
          name="todoItem"
          id=""
          placeholder="new item..."
          autocomplete="off"
        />
        <button type="submit" name="todoButton" value="<%= buttonTypeEJS%>">
          +
        </button>
        
      </form>
    </div>

    
    <%- include('../footer.ejs') %>
  </body>
</html>
